[submodule "prrte"]
	path = 3rd-party/prrte
	url = https://gitee.com/openeuler/hpc-prrte.git
	branch = v3.0
[submodule "openpmix"]
	path = 3rd-party/openpmix
	url = https://gitee.com/openeuler/hpc-openpmix.git
	branch = v4.2
[submodule "oac"]
	path = config/oac
	url = https://gitee.com/openeuler/oac.git
	branch = main